ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}
#limg:hover {
    background-color: red;
}
li {
    float: left;
}

    li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

ul li a:hover:not(.active) {
    background-color: aliceblue;
}

ol li a:hover:not(:empty) {
    background-color: #ff0000;
}

ol li a:hover.active {
    background-color: #4CAF50;
}

.active:hover {
    background-color: aliceblue;
}
